<% include ../partials/header %>
<div id="profilePage" class="container">


  <div class="row my-4">
    <div class="col-md-4">

      <% if (user.avatar) {%>
      <img src="<%= user.avatar %>" alt="user profile picture">
      <%} else {%>
      <img src="https://d1nhio0ox7pgb.cloudfront.net/_img/o_collection_png/green_dark_grey/512x512/plain/user.png" alt="user profile picture">
      <%} %>

      <h1 class="my-2 text-center">
        <%= user.username %>
      </h1>
      <div id="personalInfo" class="mt-4 mb-2 mx-3 card card-body">
        <h3 class="lead">Personal Info</h3>
        <div class="form-group">
          <label for="firstName">First Name</label>
          <input type="text" name="firstName" value="<%= user.firstName %>" readonly="" class="form-control-plaintext">
        </div>
        <div class="form-group">
          <label for="lastName">Last Name</label>
          <input type="text" name="lastName" value="<%= user.lastName %>" readonly="" class="form-control-plaintext">
        </div>
        <div class="form-group">
          <label for="email">Email</label>
          <input type="email" name="email" value="<%= user.email %>" readonly="" class="form-control-plaintext">
        </div>
      </div>
      <div class="mx-4 my-4 text-center">
        <a href="/users/<%= user._id %>/edit">Edit account</a>
     </div>
     
     <div class="mx-4 my-4 text-center">
     <a data-toggle="modal" data-target="#DeleteModal" href="#DeleteModal">Delete my account</a>

        <div class="collapse my-3 py-3 px-1" id="collapseDelete">
          <div>
            
          </div>
        </div>
        </div>


      
    </div>

    <div class="col-md-8">
      <h3>
        <%= user.username%>'s Campgrounds:</h3>
      <ul>
        <% campgrounds.forEach(function(campground) {%>
        <a href="/campgrounds/<%= campground.id %> ">
          <%= campground.name %>
        </a>
        <% }) %>
      </ul>
    </div>
  </div>

</div>


<!-- Modal -->
<div class="modal fade" id="DeleteModal" tabindex="-1" role="dialog" aria-labelledby="DeleteModalTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>

      <div class="modal-body">
        <h5>Are You sure You want to do this?</h5>
        <h6>This action can't be undone</h6>
      </div>
      <div class="modal-footer">
                <form action="/users/<%= user._id %>/?_method=DELETE" method="POST">
                  <button class="btn btn-danger">Yes, Delete it</button>
                </form>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          
      </div>
      </form>
    </div>
  </div>
</div>


<% include ../partials/footer %>