<% include ../partials/header %>
    <div class="container main">
        <div class="row mt-4 mb-4">
            <div class="col-md-3">
                <p class="lead">Yelp Camp</p>
                <div class="list-group">
                    <li class="list-group-item"> Info 1</li>
                    <li class="list-group-item"> Info 2</li>
                    <li class="list-group-item"> Info 3</li>
                </div>
                <div id="map"></div>
            </div>
            <div class="col-md-9">
                <div class="card">
                    <img class="img-fluid" src="<%= campground.image %>" alt="">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-sm-9">
                                <h5 class="card-title text-left">
                                    <a href="#">
                                        <%= campground.name %>
                                    </a>
                                </h5>
                            </div>
                            <div class="col-sm-3">
                                <h5 class="card-title text-right"> price $<%= campground.price %>/night</h5>
                            </div>
                        </div>

                        <p class="card-text">
                            <%= campground.description %>
                        </p>
                        <p class="card-text small">
                           Added by <em><%= campground.author.username %>, <%= moment(campground.createdAt).fromNow() %></em> 
                        </p>
                        <% if((currentUser && campground.author.id.equals(currentUser._id)) || currentUser && currentUser.isAdmin) { %>
                        <a href="/campgrounds/<%= campground._id %>/edit" class="btn btn-warning">Edit</a>
                        <form style="display: inline;" id="delete-form" action="/campgrounds/<%= campground._id %>/?_method=DELETE" method="POST">
                        <button onclick="return confirm('Are you sure you want to delete this Camp site?')" class="btn btn-danger">Delete</button>
                        </form>
                        <% } %>
                    </div>
                </div>
                <% include comments %>
        </div>
        
        
        
        <div>

        </div>

    </div>


    <script>
  function initMap() {
    var lat = <%= campground.lat %>;
    var lng = <%= campground.lng %>;
    var center = {lat: lat, lng: lng };
    var map = new google.maps.Map(document.getElementById('map'), {
        zoom: 12,
        center: center,
        scrollwheel: false
    });
    var contentString = `
      <strong><%= campground.name %><br />
      <%= campground.location %></strong>
      <p><%= campground.description %></p>
    `
    var infowindow = new google.maps.InfoWindow({
      content: contentString
    });
    var marker = new google.maps.Marker({
        position: center,
        map: map
    });
    marker.addListener('click', function() {
      infowindow.open(map, marker);
    });
  }
</script>
<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCDx2sD4qRIGaDEOY0hlV_uY8CSMwvhYIc&callback=initMap"></script>
    <% include ../partials/footer %>